
#tabuleiro {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  width: 138px;
}

.div-board {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 40px;
  margin: 2px;
  width: 40px;
}

#buttons {
  margin-bottom: center;
  margin-left: 50px;
}

#reset {
  margin-left: 17px;
}
h3 {
  color: red;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;   
}