*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: 'white';
  }

  .color {
    border: 1px solid black;
    height: 40px;
    display: inline-block;
    width: 40px;
    margin-left: 5px;
    margin-right: 5px;
  }
/*
  .color {
    border: 1px solid black;
    height: 80px;
    display: inline-block;
    width: 80px;
    margin-left: 15px;
    margin-right: -18px;
  }

  .pixel {
    border: 2px solid black;
    height: 70px;
    display: inline-block;
    width: 70px;
    margin-left: 10px;
    margin-right: -9px;
  }
*/
  .pixel {
    border: 1px solid black;
    height: 40px;
    display: inline-block;
    width: 40px;
    margin-left: 5px;
    margin-right: 5px;
  }

  h1 {
    margin-left: 10px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-top: 15px;
  }

  .inputContainer {
    margin-left: 5px;
    height: 30px;
    margin-top: 5px;
    display: inline-block; /*incluida tag*/
  }

  /*nova tag .nav
  .nav {
    margin-left: 50px;
    float: right;
    height: 50px;
    display: inline-block;
  }
*/